aside
  &::-webkit-scrollbar
    display none
  &::-ms-scrollbar
    display none
  scrollbar-width none
  height 100vh
  position sticky
  display flex
  flex-direction column
  justify-content space-between
  align-content stretch
  overflow-y auto
  overflow-x hidden
  color var(--theme-text-light)
  padding 0 20px
  h1
    transition .6s
    font-family BenderLight, sans-serif
    margin-top 0
  footer
    color var(--theme-unimportant)
    padding 0 3px 30px 3px
    font-family Bender
    font-weight bold

#logo
  user-select none
  width 100%
  height 5px
  display inline-block
  margin-bottom 100%
  padding 0
  img
    width 100%

#Dr
  text-align center
  margin-bottom 0
  a
    color var(--theme-text-light)

#total
  font-family BenderLight
  div
    display inline-block

#navigation, #total
  background-color var(--theme-bg-trans1)

#total-archives
  color var(--theme-text-light)
  box-sizing border-box
  width 100%
  border-left 5px solid var(--theme-border-light)
  padding 0 0 0 10px
  display inline-block
  transition .3s
  .total-title
    font-size 23px
    display block
  .total-number
    font-weight bolder
    padding 0 10px
    transition .3s
  @media ( min-width 769px )
    &:hover
      border-color var(--theme-highlight)
      background-color var(--theme-bg-soft-hover)
      .total-number
        color var(--theme-highlight)

#total-tags, #total-categories, #total-view
  margin 5px 5px 5px 10px

#aside-block
  flex-grow 2
  margin-top 1em
  h1
    color var(--theme-text-rev)
    background-color var(--theme-text-light)
    margin 0
    padding 0 10px
    font-size medium
#total-archives .total-number
  letter-spacing 2px
#toc-div
  background linear-gradient(var(--theme-bg-trans1), var(--theme-bg-trans1) calc(100% - 15px), transparent)
  @media ( min-width 769px )
    &:hover h1
      background-color var(--theme-highlight)

#description p
  margin unset
  text-align center
