.icp-title, .icp-content
  color black
  height 18px
  line-height 18px
  padding 0 5px
  font-size small
  font-family sans-serif
  display inline-block
.icp-title
  background-color var(--theme-highlight)
.icp-content
  margin 0 10px 0 0
  padding 0 28px 0 5px
  background-color white
