#toc-div
  .toc
    margin 0
    padding 10px
    list-style none
  .toc-child
    display none
    padding-left 1em
    list-style none
  .toc-item
    white-space nowrap
    overflow hidden
    margin 2px 0
  .has-active
    display block
  .toc-link
    width 100%
    overflow-y auto
    &::-webkit-scrollbar
      display none
    &::-ms-scrollbar
      display none
    scrollbar-width none
    display inline-block
    @media ( min-width 769px )
      &:hover
        .toc-number
          display none
  @media ( min-width 769px )
    .active
      color var(--theme-text-hover)
      background-color var(--theme-highlight)
      .toc-number
        display none
