#toc-div
  .toc
    margin 0
    padding 10px
    list-style none
  .toc-child
    display none
    padding-left 1em
    list-style none
  .toc-item
    overflow hidden
    margin 2px 0
    white-space nowrap
  .has-active
    display block
  .toc-link
    display inline-block
    overflow-y auto
    width 100%
    &::-webkit-scrollbar
      display none
    &::-ms-scrollbar
      display none
    scrollbar-width none
    @media (min-width 769px)
      &:hover .toc-number
        display none
  @media (min-width 769px)
    .active
      background-color var(--theme-highlight)
      color var(--theme-text-hover)
      .toc-number
        display none
