// ========= 基础样式
// ====== base style

html, body, label
  cursor var(--cursor-data) 3 3, default

html, body
  position static

#cursor-outer
  z-index 65536
  position fixed
  transform translate3d(-50%, -50%, 0px)
  height 36px
  width 36px
  border 1px solid var(--theme-cursor)
  border-radius 50%
  pointer-events none
  transition background-color .3s, width .3s, height .3s
#cursor-effect
  z-index 65535
  position fixed
  transform translate3d(-50%, -50%, 0px) scale(0)
  height 80px
  width 80px
  border 4px solid var(--theme-cursor)
  border-radius 50%
  opacity 0
  pointer-events none

@media ( min-width 769px)
  main
    -ms-scrollbar-base-color var(--theme-bar-color-2)
    -ms-scrollbar-track-color var(--theme-bar-color-3)
    scrollbar-color var(--theme-bar-color-0) var(--theme-bar-color-2)
    scrollbar-width thin
    scrollbar-gutter stable
  ::-webkit-scrollbar
    width 6px
    height 6px
  ::-webkit-scrollbar-thumb
    background-color var(--theme-bar-color-2)
    border-radius .25em
  ::-webkit-scrollbar-track
    background-color var(--theme-bar-color-3)
  ::-webkit-scrollbar-thumb:hover
    background-color var(--theme-bar-color-1)
  ::-webkit-scrollbar-thumb:window-inactive
    background-color var(--theme-bar-color-3)

body
  margin 0
  color var(--theme-text)
  background-image var(--body-background)
  background-color var(--theme-background)
  background-attachment fixed
  background-position 50% 0
  background-repeat no-repeat
  background-size cover
  font-family "JetBrains Mono", 'Microsoft YaHei', '\5b8b\4f53', sans-serif

h1, h2, h3, h4, h5, h6
  color var(--theme-text-light)
  margin-block-start 0.33em
  margin-block-end 0.23em
  padding-top 0.2em
  padding-bottom 0.2em

p
  overflow visible

a
  text-decoration none

a,
:is(strong, em)>a
  color var(--theme-highlight)
  padding 0 3px
  transition color .3s,
    background-color .3s,
    line-height .3s,
    padding .3s,
    border .3s,
    opacity .3s
  @media ( min-width 769px )
    &:hover
      color var(--theme-text-hover)
      background-color var(--theme-highlight)
    &:active
      color var(--theme-text-hover)
      background-color var(--theme-subcolor)

button
  background var(--theme-bg-soft)
  color var(--theme-text-light)
  font-family "JetBrains Mono"
  border unset

time
  font-family BenderLight

code, pre
  font-family "JetBrains Mono"
code
  margin 0!important
  background-color var(--theme-bg-soft-hover)
  padding 0 3px!important
pre
  margin 6px 0
  background-color transparent

kbd
  color var(--theme-kbd-text)
  background-color var(--theme-subcolor)
  box-shadow 0 0.12em var(--theme-kbd-shadow)
  margin 0 2px
  border-radius 2px
  padding 0 3px
  font-family "JetBrains Mono"

em
  font-family Times, "Times New Roman", 'FangSong', 'SimSun', serif
strong em, em strong
  font-family "JetBrains Mono", 'Microsoft YaHei', '\5b8b\4f53', sans-serif
:not(a)>:is(strong, em)
  color var(--theme-light)
:not(a)>:is(strong em, em strong)
  color var(--theme-stress)

blockquote
  border-left var(--theme-highlight) solid 5px
  padding 3px 20px
  background-color var(--theme-bg-soft)
  transition .3s
  blockquote
    margin 0
    padding-right 0
  &:hover
    background-color var(--theme-bg-soft-hover)
ol
  overflow auto

li
  margin-block-start 0.2em
  margin-block-end 0.2em
  blockquote
    margin 0
    padding-right 0

table
  border 0
  border-collapse collapse
  th
    color var(--theme-text-rev)
    background-color var(--theme-bg-light)
    border var(--theme-border-light) solid 1px
    padding 0 10px
  td
    padding 0px 8px
    border var(--theme-td-border) solid 1px
    &:hover
      background-color var(--theme-td-hover)

a, button, input, textarea
  cursor var(--cursor) 3 3, pointer

input
  cursor var(--cursor) 3 3, text
  user-select none
  font-family "JetBrains Mono", 'Microsoft YaHei', '\5b8b\4f53', sans-serif
