.text-title, .text-content
  color black
  height 18px
  line-height 18px
  padding 0 5px
  font-size small
  font-family sans-serif
  display inline-block
.text-title
  background-color var(--theme-highlight)
.text-content
  margin 0 10px 0 0
  padding 0 28px 0 5px
  background-color white

.gutter pre
  margin 6px 0
  padding-top 5px
.code pre
  margin 6px 0
.hljs span
  line-height 0

.status-icon
  font-style normal
  display inline-block
  width 20px
  height 20px
  margin-right 5px
  &::before
    content ''
    display block
    height 6px
    width 6px
    border-top 2px solid var(--theme-text-light)
    border-right 2px solid var(--theme-text-light)
    margin 7px 7px 5px 5px

.open>.content-box
  transition max-height .5s cubic-bezier(0.5, 0, 1, 0), background .3s
  max-height 10000px
.open>div>div>.status-icon,
.open>div>.status-icon
  transform rotate(135deg)
  transition transform 0.2s ease
.open>div>div>.code-space
  display none

.fold>.content-box
  transition max-height .5s cubic-bezier(0, 1, 0, 1) -0.1s, background .3s
  max-height 0
.fold>div>div>.status-icon,
.fold>div>.status-icon
  transform rotate(45deg)
  transition transform 0.2s ease
.fold>div>div>.code-copy
  display none

.highlight
  margin 1em
  overflow-x hidden
.content-box
  overflow-y hidden
  max-height 0
.code-header
  user-select none
  background-color var(--theme-code-header)
  display flex
  justify-content space-between
  &:focus-visible
    outline #fff auto 1px
  .code-title
    display flex
    pointer-events none
    color var(--theme-text-light)
    margin 7px 8px
.code-header-tail
  align-self center
.code-space
  line-height 35px
  padding-right 14px
  font-size 12px
.code-copy
  margin 0 4px
  padding 7px 9px
  display inline-block
  line-height 1
  text-decoration none
  white-space nowrap
  border 1px solid var(--theme-border-light)
  border-radius 5px
  background-color var(--theme-bg-soft)
  color var(--theme-text-light)
  font-size 0.75em
  transition .3s
  @media (min-width 769px)
    &:hover
      border 1px solid var(--theme-border)
      color  var(--theme-subcolor)
      transition .3s
  @media (max-width 768px)
    &:active
      border 1px solid var(--theme-border)
      color  var(--theme-subcolor)
      transition .3s
  &.copied
    border 1px solid var(--theme-border)
    color  var(--theme-subcolor)
    transition .3s

table
  td
    border 0
  code
    padding 0 8px 5px 8px
    background-color transparent!important
  .gutter
    position sticky
    color var(--theme-text-rev)
    text-align right
    background-color var(--theme-highlight)
    left 0
    padding 0 8px 5px 8px
    &, pre, span
      user-select none
      pointer-events none
  .code
    width 100%
    background-color var(--theme-bg-soft)
    transition .3s
    @media (min-width 769px)
      &:hover
        background-color var(--theme-bg-soft-hover)

.mermaid
  margin 10px 0
  padding 10px
  text-align center

.MathJax
  transform translateZ(0)
