@import "single_page.styl"

#search-header
  position relative
  input
    box-sizing border-box
    color #fff
    position relative
    &::placeholder
      transition .3s
    font-size 15px
    height 40px
    background-color unset
    border unset
    outline none
    width 100%
.moved .navItem
  animation get-in .6s

#search-header
  .navItemTitle
    overflow hidden
    &:hover
      margin unset
    &::after
      display block
      content ""
      position absolute

.search
  transition .6s
  #search-header
    transition .6s
    position absolute
    top 40px
    transform unset
    input
      animation get-out .6s

@media ( max-width 1023px )
  .search #search-header
    top 38px
  #search-header
    padding 6px 2em
    input
      padding unset

@media ( min-width 1024px )
  .search-popup
    background-color rgba(20,21,22,.95)
  #search-header
    .navItemTitle
      &::after
        width 0
        transition .3s
        z-index -1
      &:hover
        input::placeholder
          transition .3s
          color #000
        &::after
          transition .3s
          width 100%
          background-color #2bf

.search-popup
  scrollbar-width thin
  pointer-events all
  height calc(100% - 90px)
  z-index 20
  transition transform .6s
  position fixed
  top 90px
  overflow-wrap anywhere
  @media ( max-width 1023px )
    width 428px
    max-width 100%
  width 32%
  padding 0 0 0 1px
  overflow-y auto
#loading
  font-family 'JetBrains Mono'
  display flex
  justify-content center
  div
    display inline-block
  p
    animation 2s loading infinite steps(4,jump-none)
    overflow-wrap normal
    overflow hidden
    display table-caption

@keyframes loading
  0%
    width calc(100% - 1.5em)
  100%
    width 100%

#search-result
  width 100%
  .recent-post
    font-family 'JetBrains Mono'
    margin 0
    padding 8px
    border none
    border-top 1px solid rgba(#fff, .1)
    border-bottom 1px solid rgba(#fff, .1)
    p
      margin .5em
      max-height 40px
      overflow hidden
    b
      color #fff
    &:hover .search-keyword
      color #fe2
      transition .3s
      background-color unset
    overflow hidden
    .search-keyword
      background-color #2bf
      color #fff
    .search-result-title
      font-size 1.1em
#no-result p
  text-align center

.blur
  article,
  aside,
  #canvas-dust
    filter blur(0.8px)
