@media ( min-width 769, max-width 1023px )
  .search-popup
    left 212px

@media ( min-width 1024px )
  .search .navItem:not(#search-header)
    transform translateX(100%)
  .search-popup
    right 0
    transform translateX(100%)
    &.open
      transform translateX(0)
  .search-popup.open
    transform translateX(0)
  #search-header
    input
      padding 0 10px 0 0
    .navItemTitle
      padding-left 10px
      right 10px
      &:hover::after
        border-color #2bf
      &::after
        border-right 4px solid #fff
        right 0
  @keyframes get-in
    0%
      transform translateX(100%)
    100%
      transform translateX(0)

  @keyframes get-out
    0%
      width 180%
      right 80%
    100%
      width 100%
      right 0

@media ( max-width 1023px )
  #search-header
    padding-right 4.5em

