:root[theme-mode=dark]
  --cursor-data var(--dark-cursor)
  --body-background var(--dark-background)

  --theme-highlight #2bf
  --theme-subcolor #fe2
  --theme-stress #C0392B

  --theme-bar-color-0 #fe2
  --theme-bar-color-1 #fe2a
  --theme-bar-color-2 #fe24
  --theme-bar-color-3 #fe22

  --theme-kbd-shadow #ba2
  --theme-kbd-text #000

  --theme-cursor #ccc
  --theme-cursor-bg #fff8

  --theme-text-hover #000

  --theme-text #c4c4c4
  --theme-text-light #fff
  --theme-text-rev #000

  --theme-background #141516
  --theme-bg-trans0 rgba(20, 21, 22, 0.95)
  --theme-bg-trans1 rgba(20, 21, 22, 0.8)
  --theme-bg-trans2 rgba(50, 52, 54, 0.8)
  --theme-bg-hover #000

  --theme-bg-light #fff
  --theme-bg-soft rgba(#fff, .05)
  --theme-bg-soft-hover rgba(#fff, .1)

  --theme-ex-header rgba(#fff, .3)

  --theme-btn-bg #d4d8dd

  --theme-border  #fe2
  --theme-border-light #fff
  --theme-border-soft rgba(#fff, .1)

  --theme-unimportant #898989
  --theme-unimportant-trans #89898966
  --theme-unimportant-2 #535353

  --theme-td-border #2bf
  --theme-td-hover rgba(#2bf, .1)

  --theme-tag-bg #313131
  --theme-tag-count-bg #494949
  --theme-tag-border #313131

  --theme-loadingbar #fff
  --theme-loadingbar-fail #f00

  --theme-hide #000
