:root[theme-mode=light]
  --cursor-data var(--light-cursor)
  --body-background var(--light-background)

  --theme-highlight #2bf
  --theme-subcolor #fe2
  --theme-stress #C0392B

  --theme-bar-color-0 #fe2
  --theme-bar-color-1 #fe2b
  --theme-bar-color-2 #fe28
  --theme-bar-color-3 #fe25

  --theme-kbd-shadow #ba2
  --theme-kbd-text #000

  --theme-cursor #333
  --theme-cursor-bg #0004

  --theme-text-hover #000

  --theme-text #222
  --theme-text-light #000
  --theme-text-rev #fff

  --theme-background #f4f5f6
  --theme-bg-trans0 rgba(#f4f5f6, 0.95)
  --theme-bg-trans1 rgba(#f4f5f6, 0.8)
  --theme-bg-trans2 rgba(#f4f5f6, .9)
  --theme-bg-hover #fff

  --theme-bg-light #000
  --theme-bg-soft rgba(#fff, .3)
  --theme-bg-soft-hover rgba(#fff, .6)

  --theme-ex-header #c0c0c0

  --theme-btn-bg #2a272d

  --theme-border  #fe2
  --theme-border-light #000
  --theme-border-soft rgba(#000, .1)

  --theme-unimportant #767676
  --theme-unimportant-trans #76767666
  --theme-unimportant-2 #acacac

  --theme-td-border #2bf
  --theme-td-hover rgba(#2bf, .1)

  --theme-tag-bg #cecece
  --theme-tag-count-bg #bababa
  --theme-tag-border #cecece

  --theme-loadingbar #fff
  --theme-loadingbar-fail #f00

  --theme-hide #fff
