.admonition
  margin 1em
  border-left 5px solid
  border-color var(--ad-bd-color)
  &>.ex-header
    background-color var(--ad-bg-color)
  &>.content-box
    border-color var(--ad-bg-color)
  &>.content-box
    background-color var(--theme-bg-soft)
    &:hover
      background-color var(--theme-bg-soft-hover)
    &>div
      padding 3px 20px

.ad-note
  --ad-bd-color var(--theme-ad-note)
  --ad-bg-color var(--theme-ad-note-trans)

.ad-warning
  --ad-bd-color var(--theme-ad-warning)
  --ad-bg-color var(--theme-ad-warning-trans)

.ad-success
  --ad-bd-color var(--theme-ad-success)
  --ad-bg-color var(--theme-ad-success-trans)

.ad-failure
  --ad-bd-color var(--theme-ad-failure)
  --ad-bg-color var(--theme-ad-failure-trans)
