# canvas 动态背景
canvas_dust: true

# <body> 背景图片链接
background_image: https://ak.hypergryph.com/assets/index/images/ak/pc/bk.jpg

# 导航栏
menu:
  Home: ''
  # About: about/
  # Contact: contact/
  Archives: archives/

# 侧边栏
aside:
  in_left: false # 侧边栏在左 true / false
  logo: https://ak.hypergryph.com/assets/index/images/ak/pc/faction/1.png #图片链接，建议 1:1 比例
  dr: / # 侧边栏 Dr. 链接
  icp: # ICP 备案号，与版权声明相同，但会链接到 https://beian.miit.gov.cn/
  copyright: # 版权声明、备案号等，可自定义键值，不想显示则留空

# post 文章页面配置；true / false
post:
  date: true # 是否显示发布日期
  updated: true # 是否显示修改日期
  excerpt: true # 是否在文章中显示摘要内容（<!-- more--> 以上的内容）
  # 文章末显示打赏二维码
  reward:
    # 支付宝 | Alipay: img/Alipay.png
    # 微信 | Wechat: img/WeChat.png
  # 以下两项依赖 hexo-wordcount，请参阅 README 开启
  count: false # 是否显示字数统计
  time: false # 是否显示预计阅读时长

# 文章内目录
toc:
  list_number: true # true / false ；是否显示编号
  max_depth: 6 # 最大目录深度
  min_depth: 1 # 最小目录深度

# 归档页
archives:
  categories_count: true # 是否显示分类总数
  tags_count: true # 是否显示标签总数

# 搜索
search:
  enable: true
  content: true # 若为 false，仅可搜索标题及 metadata
  preload: false # 自动加载搜索数据
  # 设为 post 时，仅可搜索 post 页面
  # 设为 page 时，仅可搜索非 post 页面
  # 设为 all 时，可搜索全部页面
  field: post
  # 设为 html 时，依据 html 文件生成
  # 设为 striptags 时，滤除 html tag
  # 设为 raw 时，依据 markdown 源文件生成
  format: striptags

# Valine
# 详见 https://valine.js.org
valine:
  enable: false
  app_id: # APP ID
  app_key: # APP KEY
  server_url: # APP DOMAIN（LeanCloud 国际版）

# gitalk
# 详见 https://github.com/gitalk/gitalk
gitalk:
  enable: false
  client_id: # GitHub 应用 Client ID
  client_secret: # GitHub 应用 Client Secret
  repo: # 用于存放评论数据的 GitHub 仓库
  owner: # 该 GitHub 仓库所有者
  admin: [] # 具有写该 GitHub 仓库权限的用户，例如: [adminA,adminB]
  id: # (可选) 页面的唯一标识，例如: location.pathname

# Waline
# 详情: https://waline.js.org/
waline:
  enable: false 
  server_url: #Server_Url

# 图表支持
mermaid:
  enable: true
  version: '9.2.2'

# pjax 支持
pjax:
  enable: false

# 公式前端渲染
mathjax:
  enable: false
  version: '2.6.1'

# 在 `<head>` 标签内引入 CSS 样式表
stylesheets:
  - //unpkg.com/@highlightjs/cdn-assets@11.6.0/styles/atom-one-dark-reasonable.min.css # 代码高亮样式

# 在 `<body>` 尾部引入 JavaScript 脚本
scripts:
