.gt-container
  -webkit-box-sizing border-box
  box-sizing border-box
  font-size 16px
  *
    -webkit-box-sizing border-box
    box-sizing border-box
  a.is--active
    color #555
    pointer-events none
    &:hover
      background unset
      color #555
  .hide
    display none !important
  .gt-svg
    position relative
    top -2px
    transition .3s
    display inline-block
    width 1em
    height 1em
    vertical-align sub
    svg
      width 100%
      height 100%
  .gt-ico
    display inline-block
  &.gt-ico-text
    margin-left 0.3125em
  .gt-header-controls-tip:hover
    color #000
  .gt-ico-github
    position relative
    top 4px
    .gt-svg
      width 42px
      height 42px
      fill #c4c4c4
      &:hover
        fill #000
  .gt-spinner
    position relative
    &::before
      content ''
      -webkit-box-sizing border-box
      box-sizing border-box
      position absolute
      top 3px
      width 0.75em
      height 0.75em
      margin-top -0.1875em
      margin-left -0.375em
      border-radius 50%
      border 1px solid #000
      border-top-color #2bf
      -webkit-animation gt-kf-rotate 0.6s linear infinite
      animation gt-kf-rotate 0.6s linear infinite
  .gt-loader
    position relative
    border 1px solid #999
    -webkit-animation ease gt-kf-rotate 1.5s infinite
    animation ease gt-kf-rotate 1.5s infinite
    display inline-block
    font-style normal
    width 1.75em
    height 1.75em
    line-height 1.75em
    border-radius 50%
    &:before
      content ''
      position absolute
      display block
      top 0
      left 50%
      margin-top -0.1875em
      margin-left -0.1875em
      width 0.375em
      height 0.375em
      background-color #999
      border-radius 50%
  .gt-avatar
    display inline-block
    width 3.125em
    height 3.125em
  .gt-avatar-github
    width 3em
    height 3em
    &:hover .gt-svg
      fill #000
  .gt-btn
    &:hover
      transition .3s
      background-color rgba(255, 255, 255, 0.1)
      border 1px solid #fe2
      color #fe2
    &.is--disable
      cursor not-allowed
      opacity 0.5
  .gt-btn-text
    font-weight 400
  .gt-btn-loading
    position relative
    margin-left 0.5em
    display inline-block
    width 0.75em
    height 1em
    vertical-align top
  .gt-btn-login
    margin-right 0
  .gt-error
    text-align center
    margin 0.625em
    color #ff3860
  .gt-initing
    padding 1.25em 0
    text-align center
  .gt-initing-text
    margin 0.625em auto
    font-size 92%
  .gt-no-init
    padding 1.25em 0
    text-align center
  .gt-link
    border-bottom 1px dotted #2bf
  .gt-meta
    margin 1.25em 0
    padding 1em 0
    position relative
    border-bottom 1px solid #313131
    font-size 1em
    position relative
    z-index 10
    &:after
      clear both
  .gt-counts
    margin 0 0.625em 0 0
  .gt-user
    float right
    margin 0
    font-size 92%
    .gt-ico
      margin 0 0 0 0.3125em
      svg
        fill #c4c4c4
  .gt-user-pic
    width 16px
    height 16px
    vertical-align top
    margin-right 0.5em
  .gt-user-inner
    display inline-block
    .gt-ico-arrdown .gt-svg
      transform rotate(180deg)
    &.is--poping .gt-ico-arrdown .gt-svg
      transform rotate(0)
  .gt-version
    color #a1a1a1
    font-size small
  .gt-copyright
    margin 0 0.7em 0.5em
    border-top 1px solid #313131
    padding-top 0.5em
  .gt-popup
    position absolute
    right 0
    top 2.4em
    background #000
    display inline-block
    border 1px solid #313131
    padding 0.625em 0
    font-size 0.875em
    .gt-action
      display block
      margin 0.3em 0.7em
      position relative
      text-decoration none
      letter-spacing 1px
      &.is--active
        &:before
          content ''
          width 0.25em
          height 0.25em
          background #2bf
          position absolute
          left -.4em
          top 0.6em
  .gt-header
    position relative
    display -webkit-box
    display -ms-flexbox
    display flex
  .gt-header-comment
    -webkit-box-flex 1
    -ms-flex 1
    flex 1
    margin-left 1.25em
  .gt-header-textarea:hover
    background-color rgba(255, 255, 255, 0.1)
    border 1px solid #fe2
  .gt-header-preview
    min-height 72px
    width 100%
    overflow auto
    transition .3s
    padding 0.75em
    border-radius 5px
    border 1px solid #fff
    background-color rgba(255, 255, 255, 0.05)
    &:hover
      padding 0.75em
      border-radius 5px
      border 1px solid #fe2
      background-color rgba(255, 255, 255, 0.1)
    p
      width fit-content
  .gt-header-controls
    position relative
    margin 0.75em 0 0
    &:after
      clear both
  &.gt-input-focused
    position relative
    &:after
      content ''
      position fixed
      bottom 0%
      left 0
      right 0
      top 0
      background #000
      opacity 0.6
      z-index 9999
    .gt-header-comment
      z-index 10000
  &:after
    transition .3s
  .gt-comments
    padding-top 1.25em
    padding-bottom 1.25em
  .gt-comments-null
    text-align center
  .gt-comments-controls
    margin 1.25em 0
    text-align center
  .gt-comment
    position relative
    padding 0.625em 0
    display -webkit-box
    display -ms-flexbox
    display flex
  .gt-comment-content
    -webkit-box-flex 1
    -ms-flex 1
    flex 1
    margin-left 1.25em
    padding 0.75em 1em
    overflow auto
    transition .3s
    color #c4c4c4
    border-left #fe2 solid 3px
    padding-left 20px
    background-color rgba(255, 255, 255, 0.05)
    transition .3s
    &:hover
      border-color #2bf
      background-color rgba(255, 255, 255, 0.1)
    &::before
      background linear-gradient(180deg, rgba(26, 26, 26, 0), rgba(26, 26, 26, 0.9))
    &::after
      background rgba(26, 26, 26, 0.9)
    p
      color #fff
  .gt-comment-block-1
    float right
    height 1.375em
    width 2em
  .gt-comment-block-2
    float right
    height 1.375em
    width 4em
  .gt-comment-text, .gt-comment-date
    margin-left 0.5em
    color #a1a1a1
  .gt-comment-body
    color #333 !important
    .email-hidden-toggle a
      display inline-block
      height 12px
      padding 0 9px
      font-size 12px
      font-weight 600
      line-height 6px
      vertical-align middle
      border-radius 1px
    .email-hidden-reply
      display none
      white-space pre-wrap
      .email-signature-reply
        padding 0 15px
        margin 15px 0
        color #586069
        border-left 4px solid #dfe2e5
      &.expanded
        display block
a
  .gt-ico
    fill #2bf
  &:hover .gt-ico
    fill #000
@media ( max-width 479px )
  .gt-container .gt-avatar
    width 2em
    height 2em
  .gt-container .gt-avatar-github
    width 1.875em
    height 1.875em
  .gt-container .gt-header-comment
    margin-left 0.875em
  .gt-container .gt-header-controls
    margin 0
  .gt-container .gt-header-controls-tip
    display none
  .gt-container .gt-header-controls .gt-btn
    float none
    width 100%
    margin 0.75em 0 0
  .gt-container .gt-comment-content
    margin-left 0.875em
    padding 0.625em 0.75em
.gt-container
  .gt-avatar img
    width 100%
    height auto
    border-radius 50%
  .gt-btn
    transition .3s
    padding 0.75em 1.25em
    display inline-block
    line-height 1
    white-space nowrap
    border 1px solid #fff
    border-radius 5px
    background-color rgba(255, 255, 255, 0.05)
    color #fff
    outline none
    font-size 0.75em
  .gt-header-textarea
    font-family "JetBrains Mono", 'Microsoft YaHei', sans-serif
    padding 0.75em
    display block
    -webkit-box-sizing border-box
    box-sizing border-box
    width 100%
    min-height 5.125em
    max-height 15em
    border-radius 5px
    border 1px solid #fff
    color #fff
    font-size 0.875em
    word-wrap break-word
    resize vertical
    background-color rgba(255, 255, 255, 0.05)
    outline none
    transition .3s
  .gt-header-controls-tip
    font-size 0.875em
    vertical-align sub
  .gt-header-controls .gt-btn
    float right
    margin-left 1.25em
  &:after
    content ''
    position fixed
    bottom 100%
    left 0
    right 0
    top 0
    opacity 0
  .gt-comment-header
    margin-bottom 0.5em
    font-size 0.875em
    position relative
.gt-container .gt-meta:before,
.gt-container .gt-meta:after,
.gt-container .gt-header-controls:before,
.gt-container .gt-header-controls:after
  content " "
  display table
.gt-comment-like, .gt-comment-reply
  fill #2bf
  &:hover
    fill #000
.gt-container .gt-comment-like
  height 1.375em
.gt-container .gt-comment-edit,.gt-container .gt-comment-reply
  position absolute
  height 1.375em
.gt-container .gt-comment-edit:hover
  top 0
.gt-container .gt-comment-edit,.gt-container .gt-comment-reply
  top 0
  right 0
@-webkit-keyframes gt-kf-rotate
  0%
    -webkit-transform rotate(0)
    transform rotate(0)
  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
@keyframes gt-kf-rotate
  0%
    -webkit-transform rotate(0)
    transform rotate(0)
  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
