#social-links
  margin-top .5em
  display flex
  justify-content center
  flex-wrap wrap

.social
  margin 0 3px
  display inline-block
  height 1.2em
  padding 0
  background-size cover
  font-size 1.2em
