#Valine
  color #fff
  padding 10px 0
  code
    font-family "JetBrains Mono"
  .vpanel
    .vwrap
      background-color rgba(#fff, .05)
      transition .3s
      &:hover
        background-color rgba(#fff, .1)
        border-color #fe2
      .vheader .vinput
        border-bottom-style solid
        &:focus
          color #2bf
          border-bottom-color #fe2
      .vicon:hover
        background-color unset
    .vsubmit
      &:hover
        color #fe2
        border-color #fe2
        background-color rgba(#fff, .2)
  .vcard .vnick
    color #2bf
    &:hover
      color #000
  .vsys
    background-color transparent
  .vmeta .vat
    color #fe2
  .vcontent
    color #c4c4c4
    border-left #fe2 solid 3px
    padding-left 20px
    background-color rgba(#fff, .05)
    transition .3s
    &:hover
      border-color #2bf
      background-color rgba(#fff, .1)
    &::before
      background linear-gradient(180deg,hsla(0,0%,10%,0),hsla(0,0%,10%,.9))
    &::after
      background hsla(0,0%,10%,.9)
    p
      color #fff
      padding-bottom 14px
#veditor
  color #fff
  font-family "JetBrains Mono"
