.giscus
  position relative
  box-sizing border-box
  width 100%
  max-width 760px
  margin-left auto
  margin-right auto

.giscus-frame
  color-scheme light
  position absolute
  left 0
  right 0
  width 1px
  min-width 100%
  max-width 100%
  height 100%
  border 0