#giscus
  *
    cursor var(--cursor-data) 3 3, default !important
  
  a, button, svg, .giscus-button, [role="button"]
    cursor var(--cursor-data) 3 3, pointer !important
  
  input, textarea
    cursor var(--cursor-data) 3 3, text !important

.giscus-frame
  color-scheme light
  cursor var(--cursor-data) 3 3, default !important