#valine
  color var(--theme-text-light)
  padding 10px 0
  *
    line-height normal
  code
    font-family 'JetBrains Mono'
  .vwrap
    background-color var(--theme-bg-soft)
    transition .3s
    &:hover
      background-color var(--theme-bg-soft-hover)
      border-color var(--theme-border)
  .vheader .vinput
    line-height 1
    border-bottom-style solid
    &:focus
      color var(--theme-highlight)
      border-bottom-color var(--theme-border)
  .vicon:hover
    background-color unset
  .vsubmit:hover
    color var(--theme-subcolor)
    border-color var(--theme-border)
    background-color var(--theme-bg-soft-hover)
  .vsys
    background-color transparent
  .vmeta
    margin 3px 0 3px 3px
  .vmeta .vat
    transition .3s
    color var(--theme-subcolor)
    padding-inline 3px
  .vmeta .vnick
    margin-left 3px
  .vat:hover
    color var(--theme-text-rev)
    background-color var(--theme-highlight)
  .vcontent
    margin-left 3px
    color var(--theme-text)
    border-left var(--theme-subcolor) solid 3px
    padding 0.625em 0 0.625em 20px
    background-color var(--theme-bg-soft)
    transition .3s
    &:hover
      border-color var(--theme-highlight)
      background-color var(--theme-bg-soft-hover)
    &::before
      background linear-gradient(180deg, transparent, var(--theme-bg-trans0))
    &::after
      background var(--theme-bg-trans0)
    p
      color var(--theme-text-light)
  .vquote
    margin-left 3px
  a, button, .vicon, .vnick, .vat
    cursor var(--cursor-data) 3 3, pointer
  a
    color var(--theme-highlight)
    &:hover
      color var(--theme-text-hover)
#veditor
  color var(--theme-text-light)
  font-family 'JetBrains Mono'
