
extends includes/layout.pug

block content
  -
    var categoriesList = list_categories({
      order: 1
      , show_count: theme.archives.categories_count
    })
  -
    var tagsList = list_tags({
      order: -1
      , show_count: theme.archives.tags_count
    })
  -
    var archivesList = list_archives({
      type: 'yearly'
      , order: -1
      , show_count: false
    })

  #archive-flex
    #Archives
      h1 archives
      if archivesList
        //!= archivesList
        - page.posts.each(function(article){
        .archive-list-item
          // - console.log(article)
          a(href=url_for(article.path))= article.title
          time(datetime=date_xml(article.date))= date(article.date)
        - })
      else
        p None.
    #archive-aside
      #Categories
        h1 categories
        if categoriesList
          != categoriesList
        else
          p None.
      #Tags
        h1 tags
        if tagsList
          != tagsList
        else
          p None.

block aside-block
  h1 NAVIGATION
  #navigation
    a(href='#Archives') Archives
    a(href='#Categories') Categories
    a(href='#Tags') Tags
