
extends includes/layout.pug

block content
  -
    const categoriesList = list_categories({
      order: 1
      , show_count: theme.archives.categories_count
    })
  -
    const tagsList = list_tags({
      order: -1
      , show_count: theme.archives.tags_count
    })
  -
    const archivesList = list_archives({
      type: 'yearly'
      , order: -1
      , show_count: false
    })

  #archive-flex
    #Archives
      h1 archives
      .archives
        // -
          let posts = []
          page.posts.each(function (post) {
            posts.push(post)
          })
          let sortPosts = _[_.orderBy ? 'orderBy' : 'sortByOrder'](posts, ['date'], ['desc'])
          let y = 0, m = 0
          sortPosts.forEach(function (post, i) {
            let dt = post.date
            let ny = post.date.year()
            let nm = post.date.month()
            if (ny !== y || nm !== m)
              y = ny
              m = nm
            - console.log(dt)

      if archivesList
        - page.posts.each(function(article){
        .archive-list-item
          a(href=url_for(article.path))= article.title
          time(datetime=date_xml(article.date))= date(article.date)
        - })

        //.archives-item
        //  .archives-info
        //    .categories Example
        //    .tags code
        //    time 2020-04-14
        //  .archives-title
        //    h2 Hello World !
        //#paginator!= paginator()
      else
        p None.
    #archive-aside
      #Categories
        h1 categories
        if categoriesList
          != categoriesList
        else
          p None.
      #Tags
        h1 tags
        if tagsList
          != tagsList
        else
          p None.

block aside-block
  h1 NAVIGATION
  #navigation
    a(href='#Archives') Archives
    a(href='#Categories') Categories
    a(href='#Tags') Tags
