aside
  order -1

@media ( min-width 769px )
  aside
    left 0

@media ( min-width 992px )
  aside
    padding 0 15px 0 25px

@media ( min-width 1440px )
  aside
    margin-right 10px

@media ( min-width 1912px )
  article
   margin 0 2.5%
