@media ( min-width 769px )
  aside
    right 0

@media ( min-width 992px )
  aside
    padding 0 25px 0 15px

@media ( min-width 1440px )
  aside
    margin-left 10px

@media ( min-width 1912px )
  aside
    margin 0 2.5%
