header
  pointer-events none
  top 0
  z-index 15
  height 100%
  font-family Bender
  display inline
  position sticky

nav
  position relative
  height 100%
  white-space nowrap
  scrollbar-width none
  display flex
  flex-direction column
  justify-content center
  &::-webkit-scrollbar
    display none
  &::-ms-scrollbar
    display none
  li
    display block

.navBlock
  transition unset
  position relative
  height 40px
  line-height 40px
  display inline-block
  width 100%
  &:hover
    background-color unset
  &:active
    background unset
.navContent
  overflow visible
  margin unset
  position relative
  padding 0
  pointer-events all

.navItem
  overflow visible
  position relative
  margin unset
  transition .6s
  .navItemTitle
    transition .3s
    width 100%
    box-sizing border-box
    overflow-wrap break-word
    white-space normal
    position relative
    display block
.active > .navBlock > .navItemTitle
  color var(--theme-highlight)
  &::before
    content ''
    display block
    color var(--theme-highlight)
    border-color var(--theme-highlight)
    width 100%
    position absolute
    left 0
