// ===== 基础样式
// == base style
@import '_core/core'

// ===== 组件相关
// == modules
@import '_modules/modules'

// ===== 页面样式
// == page style
@import '_page/page'

// ===== 自定义样式
// == custom style
@import '_custom/*'
