@charset "UTF-8";
html, body {
  height: 100%;
  cursor: url(../cursor-inner.png) 3 3, default;
  position: static;
}

a, button {
  cursor: url(../cursor-inner.png) 3 3, pointer;
}

#cursor-container #cursor-outer {
  position: fixed;
  z-index: 65536;
  transform: translate3d(-50%, -50%, 0px);
  height: 36px;
  width: 36px;
  border: 1px solid #ccc;
  border-radius: 50%;
  pointer-events: none;
  transition: background-color 0.3s, width 0.3s, height 0.3s;
}
#cursor-container #cursor-effect {
  position: fixed;
  z-index: 65535;
  transform: translate3d(-50%, -50%, 0px) scale(0);
  height: 80px;
  width: 80px;
  border: 4px solid #ccc;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

html {
  -ms-scrollbar-base-color: #fe2;
  -ms-scrollbar-track-color: #69620a;
  scrollbar-width: thin;
  scrollbar-color: #fe2 #69620a;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fe2;
  border-radius: 0.25em;
}

::-webkit-scrollbar-track {
  background-color: #9b8b16;
}

::-moz-scrollbar {
  width: 6px;
  height: 6px;
}

::-moz-scrollbar-thumb {
  background-color: #fe2;
  border-radius: 0.25em;
}

::-moz-scrollbar-track {
  background-color: #9b8b16;
}

body {
  margin: 0 auto;
  color: #c4c4c4;
  background-color: #141516;
  background-attachment: fixed;
  background-position: 50% 40px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "JetBrains Mono", "Microsoft YaHei", "宋体", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin-block-start: 0.33em;
  margin-block-end: 0.23em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#post-content h1, #post-content h2, #post-content h3, #post-content h4, #post-content h5, #post-content h6 {
  border-bottom: #89898966 solid 1px;
}
#post-content h1 {
  font-size: 1.75em;
}
#post-content h2 {
  font-size: 1.6em;
}
#post-content h3 {
  font-size: 1.45em;
}
#post-content h4 {
  font-size: 1.3em;
}
#post-content h5 {
  font-size: 1.15em;
}
#post-content h6 {
  font-size: 1em;
}

a {
  color: #22bbff;
  padding: 0 3px;
  text-decoration: none;
  transition: 0.3s;
}
@media (min-width: 769px) {
  a:hover {
    color: #000;
    background-color: #22bbff;
  }
  a:active {
    color: #000;
    background-color: #fe2;
  }
}

time {
  font-family: BenderLight;
}

code, pre {
  font-family: "JetBrains Mono";
}

code {
  margin: 0 !important;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 3px !important;
}

pre {
  margin: 6px 0;
  background-color: transparent;
}

kbd {
  color: #000;
  background-color: #fe2;
  margin: 0 2px;
  border-radius: 2px;
  padding: 0 3px;
  font-family: "JetBrains Mono";
}

em {
  font-family: Times, "Times New Roman", "FangSong", "SimSun", serif;
}

strong, em {
  color: #fff;
}

strong em, em strong {
  font-family: "JetBrains Mono", "Microsoft YaHei", "宋体", sans-serif;
  color: #C0392B;
}

blockquote {
  border-left: #2bf solid 5px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}
blockquote blockquote {
  margin: 0;
  padding-right: 0;
}
blockquote:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

li blockquote {
  margin: 0;
  padding-right: 0;
}

table {
  border: 0;
  border-collapse: collapse;
}
table th {
  color: #000;
  background-color: #fff;
  border: #fff solid 1px;
  padding: 0 10px;
}
table td {
  padding: 0px 8px;
  border: #2bf solid 1px;
}
table td:hover {
  background-color: rgba(34, 187, 255, 0.1);
}

input {
  cursor: url(../cursor-inner.png) 3 3, text;
  user-select: none;
}

mjx-container {
  padding: 5px 0;
}

.text-title, .text-content {
  height: 18px;
  line-height: 18px;
  color: #000;
  padding: 0 5px;
  font-size: small;
  font-family: sans-serif;
  display: inline-block;
}

.text-title {
  background-color: #2bf;
}

.text-content {
  margin: 0 10px 0 0;
  padding: 0 28px 0 5px;
  background-color: #fff;
}

.gutter pre {
  margin: 6px 0;
  padding-top: 5px;
}

.code pre {
  margin: 6px 0;
}

.hljs span {
  line-height: 0;
}

.code-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.code-icon::before {
  content: ">";
  margin: 5px;
}

.open .code-box {
  transition: 0.5s cubic-bezier(0.5, 0, 1, 0);
  max-height: 5000px;
}
.open .code-space {
  display: none;
}
.open .code-icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: transform 0.2s ease;
}

.fold .code-copy {
  visibility: hidden;
}
.fold .code-box {
  transition: 0.5s cubic-bezier(0, 1, 0, 1) -0.1s;
  max-height: 0;
}
.fold .code-icon {
  transition: transform 0.2s ease;
}

.highlight {
  margin: 1em 10px;
  overflow-x: hidden;
}
.highlight .code-box {
  overflow-y: hidden;
}
.highlight:hover {
  transition: 0.3s;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.05);
}
.highlight .code-header {
  user-select: none;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
}
.highlight .code-header .code-title {
  color: #fff;
  margin: 7px 8px;
}
.highlight .code-header .code-header-tail {
  align-self: center;
}
.highlight .code-header .code-header-tail .code-space {
  padding: 8px 14px;
  font-size: 12px;
}
.highlight .code-header .code-header-tail .code-copy {
  margin: 0px 4px;
  padding: 7px 9px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  outline: none;
  font-size: 0.75em;
}
.highlight .code-header .code-header-tail .code-copy:before {
  content: "复制";
}
.highlight .code-header .code-header-tail .code-copy:hover {
  border: 1px solid #fe2;
  color: #fe2;
  transition: 0.3s;
}
.highlight .code-header .code-header-tail .copied {
  border: 1px solid #fe2;
  color: #fe2;
  transition: 0.3s, visibility 0;
}
.highlight .code-header .code-header-tail .copied:before {
  content: "完成";
}
.highlight table td {
  border: 0;
}
.highlight table code {
  padding: 0 8px 5px 8px;
  background-color: transparent !important;
}
.highlight table .gutter {
  position: sticky;
  color: #000;
  text-align: right;
  background-color: #2bf;
  left: 0;
  padding: 0 8px 5px 8px;
}
.highlight table .gutter, .highlight table .gutter pre, .highlight table .gutter span {
  user-select: none;
  pointer-events: none;
}
.highlight table .code {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  transition: 0.3s;
}
.highlight table .code:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.category-list, .tag-list {
  list-style: none;
  display: block;
  margin: 0;
}

.category-list {
  padding: 0;
}

.category-list-item {
  position: relative;
}
@media (min-width: 769px) {
  .category-list-item:hover a {
    color: #2bf;
    border-left: #2bf solid 5px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .category-list-item:hover span {
    color: #fff;
  }
}

.category-list-link {
  width: 100%;
  padding: 6px 40% 6px 10px;
  display: inline-block;
  box-sizing: border-box;
}
.category-list-link:before, .category-list-link:after {
  color: #2bf;
  content: "#";
  padding: 0 5px;
}

.category-list-count {
  padding: 3px 10px;
  position: absolute;
  right: 0;
}

.tag-list {
  padding: 10px;
}

.tag-list-item {
  line-height: 23px;
  background-color: #313131;
  display: inline-block;
  margin: 5px;
  border: #313131 solid 1px;
  border-radius: 3px;
}
.tag-list-item, .tag-list-item a, .tag-list-item span {
  transition: 0.3s;
}
@media (min-width: 769px) {
  .tag-list-item:hover {
    border-color: #2bf;
  }
  .tag-list-item:hover a {
    color: #000;
    background-color: #2bf;
  }
  .tag-list-item:hover span {
    background-color: #313131;
  }
  .tag-list-item:active {
    border-color: #fe2;
  }
  .tag-list-item:active a {
    background-color: #fe2;
  }
}

.tag-list-link {
  color: #fff;
  padding: 3px 6px 3px 12px;
  display: inline-block;
}

.tag-list-count {
  display: inline-block;
  padding: 3px 6px;
  color: #fff;
  background-color: #494949;
}

.mermaid {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

body header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: #141516;
  box-shadow: 0 5px 1.5rem 0 rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  font-family: BenderLight;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header:hover {
  box-shadow: 0 5px 1.5rem 0 rgba(255, 255, 255, 0.2);
}
body header nav a {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  display: inline-block;
}

main {
  margin: 0 auto;
  max-width: 1600px;
  transition: 0.3s;
  padding-top: 50px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  z-index: 1;
  height: calc(100% - 50px);
}

#paginator {
  user-select: none;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#paginator a, #paginator span {
  color: #fff;
  font-weight: bold;
  margin: 5px 10px 0 0;
  border: 1px solid #2bf;
  padding: 5px 10px;
}
@media (min-width: 769px) {
  #paginator a:hover, #paginator span:hover {
    color: #000;
  }
}
#paginator .current {
  color: #000;
  background-color: #2bf;
}

#canvas-dust {
  z-index: -65536;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

article {
  max-width: 80%;
  min-height: calc(100% - 10px);
  height: fit-content;
  flex-grow: 1;
  min-width: 1px;
}
.right article {
  border-right: #fe2 solid 2px;
}
.left article {
  border-left: #fe2 solid 2px;
}
article #post-content p, article .recent-excerpt p {
  line-height: 150%;
}

.recent-post {
  color: #898989;
  display: block;
  margin-bottom: -1px;
  border: 1px solid #898989;
  padding: 13px 15px;
  transition: 0.3s;
}
.recent-post .recent-info::after {
  transition: 0.3s;
}
.recent-post object h1, .recent-post object h2, .recent-post object h3, .recent-post object h4, .recent-post object h5, .recent-post object h6 {
  font-size: large;
  margin: 0;
}
.recent-post .categories, .recent-post .tags {
  font-family: BenderLight, sans-serif;
}
.recent-post .categories {
  color: #2bf;
  font-size: large;
  font-weight: bold;
  padding: 0 10px 0 0;
}
.recent-post .tags {
  font-size: small;
}
.recent-post .tags span, .recent-post .tags object {
  display: inline-block;
  padding: 0 5px 0 0;
}
.recent-post time {
  color: #898989;
  display: inline-block;
  text-align: left;
  float: right;
}
.recent-post hr {
  color: #898989;
  border-color: #898989;
}
.recent-post img {
  width: 100%;
}
.recent-post h1 {
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 15px 0 0 0;
}
@media (min-width: 769px) {
  .recent-post:hover {
    color: #000;
    background-color: #2bf;
  }
  .recent-post:hover a {
    color: #000;
  }
  .recent-post:hover a:active {
    color: #000 !important;
  }
  .recent-post:hover a:hover {
    color: #fff;
  }
  .recent-post:hover time, .recent-post:hover .categories {
    color: #000;
  }
  .recent-post:hover .recent-info::after {
    background-color: #000;
  }
  .recent-post:hover .recent-excerpt object a {
    color: #fff;
  }
  .recent-post:hover hr {
    color: #2bf;
    border-color: #2bf;
  }
  .recent-post:hover figure table .gutter {
    background-color: #fe2;
  }
  .recent-post:hover figure table .code {
    background-color: rgba(20, 21, 22, 0.8);
  }
  .recent-post:hover figure table .code, .recent-post:hover figure table .code:hover {
    color: #fff;
  }
  .recent-post:hover blockquote, .recent-post:hover blockquote:hover {
    color: #fff;
    border-color: #fe2;
    background-color: rgba(20, 21, 22, 0.8);
  }
  .recent-post:hover .read-more {
    color: #fff;
    background-color: #000;
  }
}

.recent-info:after {
  content: "";
  width: 13%;
  display: block;
  height: 5px;
  background-color: #2bf;
  position: relative;
  bottom: -6px;
}

.recent-excerpt {
  margin: 12px 0 28px 0;
}

.read-more {
  color: #141516;
  display: block;
  float: right;
  font-size: smaller;
  font-weight: 600;
  background-color: #22bbff;
  margin-top: -21px;
  padding: 3px 10px 3px 40px;
  font-family: BenderLight;
}

aside {
  scrollbar-width: none;
  height: inherit;
  position: fixed;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  color: #fff;
  padding: 0 20px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  top: 50px;
}
aside::-webkit-scrollbar {
  display: none;
}
aside::-moz-scrollbar {
  display: none;
}

h1 {
  font-family: BenderLight, sans-serif;
  margin-top: 0;
}

footer {
  color: #898989;
  padding: 0 3px 30px 3px;
  font-family: BenderLight;
}

#logo {
  user-select: none;
  width: 100%;
  height: 5px;
  display: inline-block;
  margin-bottom: 100%;
  padding: 0;
}
#logo img {
  width: 100%;
}

#Dr {
  text-align: center;
}
#Dr a {
  color: #fff;
}

#total {
  margin: 10px 0;
  font-family: BenderLight;
}
#total div {
  display: inline-block;
}

#total-archives {
  color: #fff;
  width: calc(100% - 15px);
  border-left: 5px solid #fff;
  padding: 0 0 0 10px;
  display: inline-block;
  transition: 1s;
}
#total-archives .total-title {
  font-size: 23px;
  display: block;
}
#total-archives .total-number {
  font-weight: bolder;
  font-size: 52px;
  padding: 0 10px;
  transition: 0.8s;
}
@media (min-width: 769px) {
  #total-archives:hover {
    border-color: #2bf;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #total-archives:hover .total-number {
    color: #2bf;
  }
}

#total-tags, #total-categories {
  margin: 15px 0 0 15px;
}

#aside-block {
  margin-top: 50px;
  background-color: rgba(20, 21, 22, 0.8);
}
#aside-block, #aside-block h1 {
  transition: 1s;
}
@media (min-width: 769px) {
  #aside-block:hover {
    background-color: rgba(20, 21, 22, 0.96);
  }
  #aside-block:hover h1 {
    background-color: #2bf;
  }
}
#aside-block h1 {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0 10px;
  font-size: medium;
}

.aside-box {
  flex-shrink: 0;
  width: 20%;
  height: calc(100% - 40px);
}

#description p {
  margin: unset;
  text-align: center;
}

#post-bg {
  padding: 20px 30px 0 30px;
  background-color: rgba(20, 21, 22, 0.8);
  overflow-x: auto;
}
#post-bg img {
  max-width: 100%;
}

#post-title {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#post-title h1 {
  display: inline-block;
  font-size: 2em;
}
#post-title hr {
  color: #535353;
  position: relative;
}
#post-title hr:before {
  content: "";
  width: 13%;
  height: 3px;
  display: block;
  position: absolute;
  background-color: #fff;
  top: -3px;
  left: -1px;
}

#post-info {
  text-align: right;
}
#post-info time {
  color: #2bf;
  font-weight: 900;
}

#post-source span {
  color: #fe2;
  background-color: #555;
}

#post-content table {
  width: 100%;
}
#post-content .footnote-ref:before {
  content: "";
  display: inline-block;
  margin-top: -60px;
  width: 1px;
  height: 60px;
  visibility: hidden;
}
#post-content .footnotes ol li:before {
  content: "";
  display: block;
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}
#post-content h1:target a, #post-content h2:target a {
  margin-right: 9px;
  background-color: #fe2;
  padding: 2px 3px;
}
#post-content h1 .headerlink, #post-content h2 .headerlink {
  padding: 2px 2px;
  background-color: #2bf;
  margin-right: 7px;
}
#post-content h3:target a, #post-content h4:target a, #post-content h5:target a, #post-content h6:target a {
  margin-right: 9px;
  background-color: #fe2;
  padding: 1px 2px;
}
#post-content h3 .headerlink, #post-content h4 .headerlink, #post-content h5 .headerlink, #post-content h6 .headerlink {
  padding: 1px 1px;
  background-color: #2bf;
  margin-right: 7px;
}

#post-footer hr {
  border-color: #fe2;
}

#bottom-btn {
  position: sticky;
  bottom: 0;
  z-index: 1;
}
#bottom-btn a {
  position: absolute;
  right: 0;
  transition: 0.3s;
  width: 40px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding: 0;
  user-select: none;
}
@media (min-width: 769px) {
  #bottom-btn a:hover {
    color: #000;
    line-height: 30px;
    background-color: #fe2;
  }
}

#to-index {
  bottom: 48px;
}

#to-top {
  bottom: 8px;
}

#reward {
  margin: 1em 0;
  color: #000;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}
#reward summary {
  background-color: #fe2;
}
#reward div {
  width: 45%;
  margin: 0;
  padding: 20px 0;
  display: inline-block;
}
#reward span {
  color: #2bf;
  padding-right: 10px;
}
#reward img {
  width: 80%;
  max-width: 280px;
  padding: 0 20px;
}

#toc-div .toc {
  margin: 0;
  padding: 10px;
  list-style: none;
}
#toc-div .toc-child {
  display: none;
  padding-left: 1em;
  list-style: none;
}
#toc-div .toc-item {
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  margin: 2px 0;
}
#toc-div .has-active {
  display: block;
}
#toc-div .toc-link {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: inline-block;
}
#toc-div .toc-link::-webkit-scrollbar {
  display: none;
}
#toc-div .toc-link::-moz-scrollbar {
  display: none;
}
#toc-div .toc-link::-ms-scrollbar {
  display: none;
}
@media (min-width: 769px) {
  #toc-div .toc-link:hover .toc-number {
    display: none;
  }
}
@media (min-width: 769px) {
  #toc-div .active {
    color: #000;
    background-color: #2bf;
  }
  #toc-div .active .toc-number {
    display: none;
  }
}

#pages {
  padding: 5px;
  display: flex;
  justify-content: center;
  border-top: #fe2 solid 2px;
  border-bottom: #fe2 solid 2px;
}

#split {
  position: sticky;
  color: #fe2;
  left: 50%;
}
@media (min-width: 769px) {
  #split:hover {
    background-color: unset;
  }
}

#footer-link {
  padding: 5px;
  position: sticky;
}

#archive-flex {
  height: 100%;
  min-height: 600px;
  padding-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
}

.article-item {
  display: flex;
}

#archive-aside {
  height: 100%;
  display: flex;
  order: -1;
  flex-grow: 1;
  flex-direction: column;
}

#Archives, #Categories, #Tags {
  margin: 0 10px;
  background-color: rgba(20, 21, 22, 0.8);
  overflow-y: auto;
}
#Archives, #Archives h1, #Categories, #Categories h1, #Tags, #Tags h1 {
  transition: 0.3s;
}
#Archives h1, #Categories h1, #Tags h1 {
  margin: 0;
  padding: 0 15px;
  color: #000;
  background-color: #fff;
  font-size: medium;
  font-family: BenderLight;
}
@media (min-width: 769px) {
  #Archives:hover, #Archives:target, #Categories:hover, #Categories:target, #Tags:hover, #Tags:target {
    background-color: rgba(255, 255, 255, 0.05);
  }
  #Archives:hover h1, #Archives:target h1, #Categories:hover h1, #Categories:target h1, #Tags:hover h1, #Tags:target h1 {
    background-color: #2bf;
  }
}

#Archives {
  flex-grow: 5;
}
#Archives h2 {
  margin: 10px 0;
  font-size: large;
}
#Archives h2:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 15px;
  margin-right: 5px;
  background-color: #fe2;
}
#Archives time {
  color: #fff;
  padding: 0 10px 0 20px;
}

.categories, .tags {
  display: inline-block;
}

#Archives-bg {
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 25px;
}

#Categories {
  height: 50%;
  flex-grow: 1;
  margin-bottom: 20px;
}

#Tags {
  height: 100%;
  flex-grow: 1;
}

#navigation a {
  width: 100%;
  display: inline-block;
  padding: 6px 0;
  font-size: x-large;
  font-weight: 900;
  font-family: BenderLight;
  text-align: center;
}

@media (max-width: 768px) {
  body {
    margin: 0 12px;
  }

  main {
    flex-direction: column;
    overflow-y: auto;
  }
  main .aside-box {
    width: 100%;
    max-width: 100%;
    height: 0;
  }
  main article {
    border: none;
    width: 100%;
    max-height: none;
    padding: 0;
    flex-shrink: 0;
    max-width: 100%;
  }

  .highlight, blockquote {
    margin: 0;
  }

  aside {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
  }
  aside h1 {
    font-size: xx-large;
    text-align: center;
    margin: 0;
  }
  aside footer {
    text-align: center;
    padding: 10px 0;
    position: static;
  }

  #paginator {
    margin: 20px 0 0 0;
  }
  #paginator a, #paginator span {
    margin: 5px 5px 0 0;
  }

  #post-bg {
    margin: 0;
    padding: 5px 10px 0 10px;
  }

  #post-index {
    margin: 0;
  }

  #logo {
    height: 0;
    margin: 0;
  }
  #logo img {
    opacity: 0.05;
    position: fixed;
    bottom: -50px;
    left: -46%;
    pointer-events: none;
  }

  #total {
    text-align: center;
    margin: 0;
  }
  #total .total-title {
    font-size: medium;
  }
  #total .total-number {
    font-size: large;
  }

  #total-archives {
    width: auto;
  }
  #total-archives .total-title {
    display: inline-block;
  }

  #to-index, #to-top {
    right: -10px !important;
  }

  #to-index {
    bottom: 56px;
  }

  #to-top {
    bottom: 16px;
  }

  #post-index {
    margin: 16px 10px 0 10px;
  }

  #archive-flex {
    flex-direction: column;
  }

  #archive-aside {
    order: 1;
  }

  #Categories {
    margin: 10px;
  }

  #cursor-container {
    display: none;
  }
}
@media (min-width: 769px) {
  #to-index {
    display: none;
  }

  body {
    width: 96%;
  }
  body main {
    position: relative;
  }
  body main.right {
    margin-left: 2.5%;
    left: 1%;
  }
  body main.right article {
    margin-right: 190px;
  }
  body main.right aside {
    right: 0;
  }
  body main.left {
    right: 1%;
  }
  body main.left article {
    margin-left: 190px;
  }
  body main.left aside {
    left: 0;
  }
  body main aside {
    width: 160px;
    transition: 0s;
  }
  body main aside #description p {
    font-size: small;
  }
  body main aside h1 {
    font-size: xx-large;
  }
  body main aside a img {
    transition: background-color 1s;
  }
  body main aside a img:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  body nav {
    margin: 0 1% 0 1%;
  }

  #archive-aside {
    max-width: 36%;
  }
}
@media (min-width: 992px) {
  body {
    width: 90%;
  }
  body main.right {
    margin-left: 2.5%;
    left: 2.5%;
  }
  body main.right article {
    margin-right: 210px;
  }
  body main.left {
    margin-right: 2.5%;
    right: 2.5%;
  }
  body main.left article {
    margin-left: 210px;
  }
  body main aside {
    width: 210px;
    transition: 0.3s;
  }
  body main aside #description p {
    font-size: medium;
  }
  body main aside h1 {
    font-size: 45px;
  }
  body nav {
    margin: 0 2.5% 0 2.5%;
  }
}
@media (min-width: 1200px) {
  body {
    width: 86%;
  }
  body .search-header {
    position: relative;
    right: 2.5%;
  }
  body nav {
    margin: 0 5% 0 5%;
  }
  body main.right {
    margin-left: 2.5%;
  }
  body main.right article {
    margin-right: 240px;
  }
  body main.left {
    margin-right: 2.5%;
  }
  body main.left article {
    margin-left: 240px;
  }
  body main aside {
    width: 270px;
  }
  body main aside h1 {
    font-size: 50px;
  }
  body main aside #total-archives .total-title {
    font-size: 36px;
  }
  body main aside #total-archives .total-number {
    font-size: 48px;
  }
  body main aside #total-tags, body main aside #total-categories {
    font-size: 23px;
  }

  .recent-post img {
    width: 90%;
    margin: 0 auto;
    display: block;
    position: relative;
  }
}
@media (min-width: 1920px) {
  body {
    width: 84%;
  }
  body .search-header {
    position: relative;
    right: 5%;
  }
  body nav {
    margin: 0 10% 0 10%;
  }
  body main.right {
    margin-left: 5%;
  }
  body main.right article {
    margin-right: 300px;
  }
  body main.right aside {
    right: 5%;
  }
  body main.left {
    margin-right: 5%;
  }
  body main.left article {
    margin-left: 240px;
  }
  body main.left aside {
    left: 5%;
  }
  body main aside h1 {
    font-size: 55px;
  }
  body main aside #total-archives .total-title {
    font-size: 37px;
  }
  body main aside #total-archives .total-number {
    font-size: 48px;
  }
  body main aside #total-tags, body main aside #total-categories {
    font-size: 28px;
  }

  .search-pop-overlay .popup {
    left: 65%;
  }

  .recent-post img {
    width: 80%;
  }
}
.search-header {
  display: flex;
  justify-content: flex-end;
  max-width: 380px;
  width: 30%;
}
.search-header input {
  box-shadow: inset 0 0 1em rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #141516;
  padding-left: 0.7em;
  border-radius: 0.25em;
  height: 30px;
  transition: 0.3s 0.01s;
  width: 55%;
  color: #fff;
}
.search-header input:hover {
  box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.02);
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid #fe2;
}
.search-header input:focus-visible {
  box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.02);
  background-color: rgba(255, 255, 255, 0.01);
  width: 100%;
  border: 1px solid #fe2;
  outline: none;
}

.search-pop-overlay {
  left: 0;
  top: 40px;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.search-pop-overlay .popup {
  scrollbar-width: thin;
  position: relative;
  background: rgba(20, 21, 22, 0.95);
  max-height: calc(100% - 40px);
  padding: 0 0 0 1px;
  overflow-y: auto;
  box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.2);
}
@media (min-width: 769px) {
  .search-pop-overlay .popup {
    left: 68%;
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .search-pop-overlay .popup {
    left: 65%;
  }
}
.search-pop-overlay .popup #loading p {
  text-align: center;
}
.search-pop-overlay .popup #search-result {
  width: 100%;
}
.search-pop-overlay .popup #search-result .recent-post {
  margin: 0;
  padding: 8px;
  border: none;
  box-shadow: 0 0 0.2rem 0 rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.search-pop-overlay .popup #search-result .recent-post p {
  margin: 0.5em;
  max-height: 40px;
  overflow: hidden;
}
.search-pop-overlay .popup #search-result .recent-post b {
  color: #fff;
}
.search-pop-overlay .popup #search-result .recent-post:hover .search-keyword {
  color: #fe2;
  transition: 0.3s;
  background-color: unset;
}
.search-pop-overlay .popup #search-result .recent-post .search-keyword {
  background-color: #2bf;
  color: #fff;
}
.search-pop-overlay .popup #search-result .recent-post .search-result-title {
  font-size: 1.1em;
}
.search-pop-overlay .popup #search-result #no-result p {
  text-align: center;
}