// ========= 基础样式
// ====== base style
body
  margin: 0 auto
  color: #c4c4c4
  background-color: #141516
  background-image: url(https://ak.hypergryph.com/assets/index/images/ak/pc/bk.jpg)
  // background-image: url(/img/bg.jpg)
  background-attachment: fixed
  background-position: 50% 40px
  background-repeat: no-repeat
  background-size: cover
  font-family: sans-serif
  display: flex
  flex-direction: column
  align-items: stretch

h1, h2, h3, h4, h5, h6
  color: #fff

a
  color: #22bbff
  padding: 0 3px
  text-decoration: none
  transition: .3s
  &:hover
    color: #000
    background-color: #22bbff



// ========= 类样式
// ====== class style
.text-title, .text-content
  color: #000
  padding: 0 5px
  font-size: small
  font-family: sans-serif
  display: inline-block
.text-title
  background-color: #2bf
.text-content
  padding: 0 28px 0 5px
  background-color: #fff

.tag-list
  list-style: none
  display: block
  margin: 0
  padding: 0
.tag-list-item
  line-height: 23px
  background-color: #494949
  display: inline-block
  margin: 5px
.tag-list-link
  color: #fff
  padding: 3px 12px
  display: inline-block
  &:hover
    color: #fff
    background-color: #2bf



// ========= 布局样式
// ====== layout style
header
  position: sticky
  top: 0
  z-index: 1
  margin: 0 0 20px 0
  background-color: #141516
  font-family: BenderLight
  nav a
    height: 40px
    line-height: 40px
    padding: 0 12px
    display: inline-block

main
  display: flex
  flex-grow: 1
  flex-direction: row
  flex-wrap: nowrap
  align-items: flex-start

article
  padding: 0 12px
  flex-grow: 1
  overflow-y: auto
  .recent-post
    height: 100px
    display: block
    margin-bottom: -1px
    border: 1px solid #898989
    padding: 13px 15px
    // background-color: rgba(#141516, .8)
    transition: .3s
    .tags
      font-weight: bolder
      &::after
        content: ''
        width: 10%
        display: block
        height: 5px
        background-color: #2bf
        position: relative
        bottom: -15px
    time
      color: #898989
      display: inline-block
      float: right
    h1
      font-size: medium
      font-weight: normal
      font-family: sans-serif
      color: #fff
      margin: 0
      padding: 30px 0 0 0
      // display: inline
    .read-more
      color: #141516
      display: block
      float: right
      text-align: right
      font-size: smaller
      font-weight: 600
      background-color: #22bbff
      padding: 3px 10px 3px 40px
      // position: absolute
      // bottom: 30px
    &:hover
      background-color: #2bf
      .tags::after
        background-color: #000
      time, h1
        color: #000
      .read-more
        color: #fff
        background-color: #000

#paginator
  margin: 20px 0
  display: flex
  flex-wrap: wrap
  justify-content: center
  a, span
    color: #fff
    font-weight: bold
    margin: 5px 10px 0 0
    border: 1px solid #2bf
    padding: 5px 10px
    &:hover
      color: #000
  .current
    color: #000
    background-color: #2bf

aside
  color: #fff
  padding: 0 20px
  flex-shrink: 0
  position: sticky
  top: 60px
  footer
    padding: 30px 3px
    position: fixed
    bottom: 0
    font-family: BenderLight
#logo
  width: 100%
  height: 5px
  display: inline-block
  padding: 0
  img
    width: 100%
#total
  margin: 10px 0
  font-family: BenderLight
  div
    display: inline-block
  // perspective: 30px
  // div
  //   transform: rotateY(-1deg)
#total-archives
  width: 100%
  border-left: 5px solid #fff
  padding: 0 0 0 10px
  .total-title
    font-size: 23px
    display: block
  .total-number
    font-weight: bolder
    font-size: 52px
#total-tags, #total-categories
  margin: 15px 0 0 15px

#particle
  pointer-events: none
  position: fixed
  top: 0
  left: 0
  z-index: 2



// ========= 弹性布局
// ====== flex layout
@media ( max-width: 768px )
  body
    margin: 0 18px
  main
    flex-direction: column
    article
      width: 100%
      padding: 0
  aside
    width: 100%
    padding: 0
    footer
      text-align: center
      padding: 10px 0
      position: static
  #logo
    height: 0
    img
      opacity: .05
      position: fixed
      bottom: -50px
      left: -46%
      pointer-events: none
  #paginator
    margin: 20px 0 0 0
    a, span
      margin: 5px 5px 0 0
  #total
    text-align: center
    margin: 0
    .total-title
      font-size: medium
    .total-number
      font-size: large
  #total-archives
    width: auto
@media ( min-width: 768px )
  body
    width: 90%
  aside
    width: 160px
    a img
      transition: background-color 1s
      &:hover
        background-color: rgba(#fff , .1)
@media ( min-width: 992px )
  aside
    width: 210px
@media ( min-width: 1200px )
  aside
    width: 280px
@media ( min-width: 1920px )
  aside
    width: 450px



// ========= 字体
// ====== font 
@font-face
  font-family: BenderLight
  src: url("/font/BenderLight.ttf")
