html, body
  height: 100%

body
  margin: 0 auto
  color: #c4c4c4
  background-color: #141516
  font-family: sans-serif
  display: flex
  flex-direction: column
  align-items: stretch

h1, h2, h3, h4, h5, h6
  color: #fff

a
  color: #22bbff
  padding: 0 3px
  text-decoration: none
  transition: .3s
  &:hover
    color: #000
    background-color: #22bbff

header nav a
  height: 40px
  line-height: 40px
  padding: 0 12px
  display: inline-block

main
  display: flex
  flex-grow: 1
  flex-direction: row-reverse
  flex-wrap: nowrap
  justify-content: space-between
  align-items: flex-start

aside
  position: sticky
  top: 40px

article
  flex-grow: 1

@media ( max-width: 768px )
  body
    margin: 0 18px
  main
    flex-direction: column
@media ( min-width: 768px )
  body
    width: 730px
@media ( min-width: 992px )
  body
    width: 860px
@media ( min-width: 1200px )
  body
    width: 1000px
@media ( min-width: 1920px )
  body
    width: 1800px