.bottom-btn
  position sticky
  bottom 0
  z-index 65536
  display flex
  flex-direction column
  align-items flex-end
  @media ( max-width 768px )
    position fixed
    left 0
    width 100vw
  div
    position absolute
    right 8px
    bottom 8px
  a
    position absolute
    overflow hidden
    display block
    right 0
    width 40px
    height 40px
    color var(--theme-text-light)
    line-height 40px
    text-align center
    font-size 40px
    font-weight 900
    padding 0
    user-select none
    &:nth-last-child(1)
      bottom 0
    &:nth-last-child(2)
      bottom 40px
    &:nth-last-child(3)
      bottom 80px
    @media ( min-width 769px )
      &:hover
        background-color var(--theme-subcolor)
        color var(--theme-text-hover)
@media ( min-width 769px )
  .i-top:hover
    line-height 30px
.i-color
  display flex
  @media ( min-width 769px )
    &:hover
      line-height 40px
      &::after
        transform rotate(90deg)
  &::after
    margin auto
    content ''
    height 16px
    width 16px
    display inline-block
    border 4px solid var(--theme-bg-light)
    border-radius 50%
    background linear-gradient(45deg, transparent 10px,
      var(--theme-bg-light) 12px, var(--theme-bg-light))
    transition transform .3s, filter .3s
.i-index
  .tocBtnIconBar
    background-color var(--theme-text-light)
    width 25px
    position absolute
    top 50%
    width 24px
    height 0.1em
    text-indent 101%
    white-space nowrap
    overflow hidden
    transition transform ease-in-out 0.3s
    left 8px
    &:nth-child(1)
      transform translate(0, -250%)
    &:nth-child(2)
      transform translate(0, -50%)
    &:nth-child(3)
      transform translate(0, 150%)
  &.open .tocBtnIconBar
    &:nth-child(1)
      transform translate(0, -50%) rotate(45deg) scaleX(1.2)
    &:nth-child(2)
      transform translate(0, -50%) translateX(-300%)
    &:nth-child(3)
      transform translate(0, -50%) rotate(-45deg) scaleX(1.2)