.black
  background linear-gradient(#141516, #000, #141516)
  code
    background linear-gradient(#141516, #000, #141516)
  color #000
  strong, em, p, i, a
    color #000
  &::selection
    background rgba(#fff, 0.2)
  em, strong, code, a, p, i, span
    &::selection
      background rgba(#fff, 0.2)
      color unset
  &:hover
    code
      background rgba(#fff, 0.1)
    em strong
      color #C0392B
      &::selection
        color #000
    strong
      color #fff
    color #c4c4c4
    em, p, i, span
      color #c4c4c4
    a
      color #22bbff

.admonition
  margin 1.5625em 0
  padding .6rem
  overflow hidden
  page-break-inside avoid
  border-left .2rem solid #448aff
  border-radius .3rem
  background-color rgba(#fff,.01)
  &:hover
    background-color rgba(#fff,.02)
    box-shadow 0 0.1rem 0.4rem rgba(#fff,.05), 0 0 0.05rem rgba(#fff,.1)

p.admonition-title
  color #fff
  position relative
  margin -.6rem -.6rem .8em -.6rem
  padding .4rem .6rem
  font-weight 700
  background-color rgba(68,138,255,.5)

.info>.admonition-title, .todo>.admonition-title 
  background-color rgba(0,184,212,.5)

.warning>.admonition-title
  background-color rgba(255,145,0,.5)

.error>.admonition-title 
  background-color rgba(255,82,82,.5)

.admonition.info, .admonition.todo 
  border-color #00b8d4

.admonition.warning
  border-color #ff9100

.admonition.error 
  border-color #ff5252

.info>.admonition-title::before, .todo>.admonition-title::before 
  background-color #00b8d4
  border-radius 50%

.warning>.admonition-title::before
  background-color #ff9100
  border-radius 50%

.error>.admonition-title::before
  background-color #ff5252
  border-radius 50%

.admonition>:last-child 
  margin-bottom 0
