#archive-flex
  height: 100%
  padding-bottom: 30px
  box-sizing: border-box
  display: flex
  justify-content: stretch

#archive-aside
  display: flex
  order: -1
  flex-grow: 1
  flex-direction: column


#Archives, #Categories, #Tags
  height: 100%
  //border-radius: 6px
  margin: 0 10px
  background-color: rgba(#141516, .8)
  transition: .3s
  h1
    margin: 0
    //border-radius: 6px 6px 0 0
    padding: 0 15px
    color: #000
    background-color: #fff
    font-size: medium
    font-family: BenderLight
  &:hover
    //border: #2bf solid 1px
    background-color: rgba(#fff, .05)

#Archives
  flex-grow: 5

#Categories
  flex-grow: 1
  margin-bottom: 20px

#Tags
  flex-grow: 1

#navigation
  a
    width: 100%
    display: inline-block
    padding: 6px 0
    font-size: x-large
    font-weight: 900
    font-family: BenderLight
    text-align: center
