article
  padding: 0 12px
  flex-grow: 1

.recent-post
  //height: 100px
  display: block
  margin-bottom: -1px
  border: 1px solid #898989
  padding: 13px 15px
  // background-color: rgba(#141516, .8)
  transition: .3s
  .tags
    font-family: BenderLight, sans-serif
    font-size: smaller
    span
      display: inline-block
      padding: 0 5px
  time
    color: #898989
    display: inline-block
    text-align: left
    float: right
  hr
    color: #898989
    border-color: #898989
  h1
    font-weight: normal
    font-family: sans-serif
    color: #fff
    margin: 0
    padding: 15px 0 0 0
  p
    margin: 12px 0 28px 0
  &:hover
    background-color: #2bf
    .tags
      color: #000
    .recent-info::after
      background-color: #000
    time, p
      color: #000
    hr
      color: #2bf
      border-color: #2bf
    .read-more
      color: #fff
      background-color: #000

.read-more
  color: #141516
  display: block
  float: right
  font-size: smaller
  font-weight: 600
  background-color: #22bbff
  margin-top: -21px
  padding: 3px 10px 3px 40px
  font-family: BenderLight

.recent-info
  &::after
    content: ''
    width: 13%
    display: block
    height: 5px
    background-color: #2bf
    position: relative
    bottom: -6px
