#post-bg
  padding: 20px 30px 0 30px
  border-right: #fe2 solid 2px
  margin: 0 40px 40px 0
  background-color: rgba(#141516, .8)
  img
    width: 100%

#title-hr
  height: 0
  color: #535353
  &:before
    width: 13%
    height: 3px
    content: ''
    display: block
    background-color: #fff
    position: relative
    top: -2px

figure table
  td
    border: 0
  code
    background-color: transparent!important
  .gutter
    color: #000
    text-align: right
    background-color: #2bf
  .code
    width: 100%
    background-color: rgba(#fff, .05)
    transition: .3s
    &:hover
      background-color: rgba(#fff, .1)

.footer-hr
  color: #fe2
  background-color: fe2
