#post-bg
  padding: 20px 30px 0 30px
  border-right: #fe2 solid 2px
  margin: 0 40px 40px 0
  background-color: rgba(#141516, .8)
  img
    width: 100%

#post-title
  h1
    display: inline-block
  hr
    height: 0
    color: #535353
    &:before
      width: 13%
      height: 3px
      content: ''
      display: block
      background-color: #fff
      position: relative
      top: -2px
#post-date
  float: right
  text-align: right
  time
    color: #2bf
    font-weight: 900

.highlight
  overflow-x: auto
  table
    td
      border: 0
    code
      background-color: transparent!important
    .gutter
      color: #000
      text-align: right
      background-color: #2bf
      position: relative
      left: 0
      &, pre, span
        user-select: none
        pointer-events: none
    .code
      width: 100%
      background-color: rgba(#fff, .05)
      transition: .3s
      &:hover
        background-color: rgba(#fff, .1)

#post-footer hr
  border-color: #fe2

#to-top
  position: sticky
  bottom: 0
  z-index: 1
  a
    width: 40px
    height: 40px
    color: #fff
    line-height: 40px
    text-align: center
    font-size: 40px
    font-weight: 900
    float: right
    padding: 0
    position: absolute
    bottom: 8px
    right: -74px
    &:hover
      color: #000
      line-height: 30px
      background-color: #fe2
    &:before
      content: '∧'
      pointer-events: none
