@media ( min-width 769px )
  header
    left 0

@media ( min-width 1024px )
  .navContent
    transform unset
  .navItem
    padding-left 1.2em
    .navItemTitle
      padding-right 5px
  .navBlock
    text-align right
    .navItemTitle:only-child::before
      border-left 4px solid
      left 0
  .navContent .navBlock
    &::before
      content ''
      height 100%
      width 100%
      position absolute
      top 0
      left 2em
    &:hover > .navItemTitle
      margin-left 1em
    & > .navItemList
      left calc(100% + 2em)
  .navItemList
    left 100%
  a.navSecond > .navItemTitle
    padding-left 1em
  div.navSecond > .navItemTitle
    padding-left 2px
  .navSecond:not(a):hover
    left .8em
  .navSecond:hover::after
    left -.8em

@media ( min-width 1440px )
  .navItem
    padding-left 2.25em

@media ( min-width 1912px )
  .navItem
    padding-left 5.25em

.navItemTitle:not(:only-child)::before
  content ''
  display inline-block
  height 6px
  width 6px
  border-right 2px solid var(--theme-highlight)
  border-top 2px solid var(--theme-highlight)
  margin 7px 7px 2px 2px
  transform rotate(45deg)
