.category-list, .tag-list
  list-style none
  display block
  margin 0

.category-list
  padding 0
.category-list-child
  list-style-type unset
  padding-left 15px
.category-list-item
  position relative
  a:hover
    background-color var(--theme-bg-soft-hover)
  @media ( min-width 769px )
    &:hover
      &>a
        color var(--theme-highlight)
        border-left var(--theme-highlight) solid 5px
      span
        color var(--theme-text-light)
.category-list-link
  width 100%
  padding 6px 40% 6px 10px
  display inline-block
  box-sizing border-box
  &:before, &:after
    color var(--theme-highlight)
    content '#'
    padding 0 5px
.category-list-count
  padding 6px 10px
  position absolute
  right 0
