#paginator
  width 100%
  user-select none
  margin 20px 0
  display flex
  flex-wrap wrap
  justify-content center
  position absolute
  bottom 0
  left 0
  a, span
    color #fff
    font-weight bold
    margin 0 10px 0 0
    border 1px solid #2bf
    padding 5px 10px
    &:last-child
      margin 0
  @media ( min-width 769px )
    a:hover
      color #000
  .current
    color #000
    background-color #2bf

#canvas-dust
  z-index -65536
  pointer-events none
  position fixed
  top 0
  left 0
