.up .closed .navBtn
  top .5em

.hide.navBtn
  top -1em

.up .closed
  .search-popup
    top 53px
    height calc(100vh - 53px)
    background-color rgba(20,21,22,.95)
  .navContent
    overflow visible
  &,
  & .search
    .navItem.search-header
      animation get-in-right .6s
      transform translateX(100vw)
      position fixed
      top 0
      right 0
      input
        animation: none

.down .closed .search-header
  animation get-out-top .3s
  padding-left 6em

main.up
  overflow hidden

@keyframes get-out-top
  0%
    position fixed
    top 0
    right 0
    transform translate(100vw, 0)
  100%
    position fixed
    top 0
    right 0
    transform translate(100vw, -100%)

@keyframes get-in-right
  0%
    transform translateX(calc(100vw + 100%))
  100%
    transform translateX(100vw)
