.bottom-btn
  div
    a#to-top.i-top(onClick="scrolls.scrolltop();" title=__('btn.totop') style="opacity: 0; display: none;") ∧ 
    if page.content
      - const encrypted = page.encrypt || page.password
      - const tocContent = encrypted === undefined ? toc(page.content, theme.toc) : toc(page.origin, theme.toc)
      if tocContent.length > 0
        a#to-index.i-index(href="#toc-div" title=__('btn.index')) ≡
    if theme.color !== 'dark-only' && theme.color !== 'light-only'
      a#color-mode.i-color(onClick="colorMode.change()" title=__('btn.colorMode'))
