style.
  :root {
   --dark-background: url('#{url_for(theme.background_image.dark)}');
   --light-background: url('#{url_for(theme.background_image.light)}');
   --theme-encrypt-confirm: '#{__("encrypt.confirm")}'
  }
