@import "single_page"

@media ( max-width 768px )
  main
    padding 0 12px
  article
    border none
    width 100%
    max-height none
    #post-bg
      margin 0
      padding 10px 10px 0 10px
  .highlight, blockquote
    margin 1em 0
  aside
    position static
    width 100%
    height auto
    padding 0
    h1
      font-size xx-large
      text-align center
      margin 0
    footer
      text-align center
      padding 10px 0
      position static
  #paginator
    margin 20px 0 0 0
    a, span
      margin 5px 5px 0 0
  #post-index
    margin 0
  #logo
    height 0
    margin 0
    img
      opacity .05
      position fixed
      bottom -50px
      left -46%
      pointer-events none
  #total
    text-align center
    margin 0
    .total-title
      font-size medium
    .total-number
      font-size large
  #total-archives
    width auto
    .total-title
      display inline-block
  #to-index
    bottom 56px
  #to-top
    bottom 16px
  #post-index
    margin 16px 10px 0 10px
  #archive-flex
    flex-direction column
  #archive-aside
    order 1
  #Categories
    margin 10px
  #cursor-container
    display none
  #Archives
    margin 0
    time
      color #fff
      padding 0
    .control
      width 55px
@media ( min-width 769px )
  main
    display flex
  article
    width calc(95% - 212px)
  #to-index
    display none
  aside
    top 0
    width 170px
    h1
      font-size xx-large
    a img
      transition background-color 1s
      &:hover
        background-color rgba(#fff , .1)
  #description p
    font-size small
  #archive-aside
    position sticky
    max-width 36%

@media ( min-width 1024px )
  article
    width calc(100% - 412px)
  aside
    width 190px
    h1
      font-size 45px
  #description p
    font-size medium

@media ( min-width 1440px )
  article
    width calc(100% - 520px)
  aside
    width 230px
    h1
      font-size 50px
  #total-archives
    .total-title
      font-size 36px
    .total-number
      font-size 48px
  #total-tags, #total-categories
    font-size 23px
  .recent-post img
    width 90%
    margin 0 auto
    display block
    position relative
@media ( min-width 1920px )
  article
    width calc(95% - 630px)
  aside
    width 270px
    h1
      font-size 55px
  #total-archives
    .total-title
      font-size 37px
    .total-number
      font-size 48px
  #total-tags, #total-categories
    font-size 28px
  .search-pop-overlay .popup
    left 65%
  .recent-post img
    width 80%
