aside
  order -1
header
  order 1

@media ( min-width 769px )
  @media ( max-width 1023px )
    article
      margin-right 5%
  header
    left 212px
  .navBtn
    left 1em
  aside
    left 0
  @media ( max-width 1023px )
    .navContent
      padding-right 0
      transform translateX(-100%)
    .navItem
      padding-right 2.5em

@media ( min-width 992px )
  @media ( max-width 1919px )
    aside
      padding 0 15px 0 25px

@media ( min-width 1024px )
  header
    left unset
    right 0
  .navContent
    align-items flex-end
    padding 1em 0 1em 1em
    transform unset
  .navItem
    padding-right 1.2em
    .navItemTitle:hover
      margin-left -1em
    a
      .navItemTitle::after
        border-right 4px solid
      &:hover .navItemTitle
        margin-left -1em

@media ( min-width 1440px )
  .navItem
    padding-right 2.25em
  aside
    margin-right 10px

@media ( min-width 1920px )
  .navItem
    padding-right 5.25em
  article
   margin 0 2.5%
