@media ( min-width 769px )
  header
    left 0
  aside
    right 0
    border-left #fe2 solid 2px
  @media ( max-width 991px )
    article
      margin-right 200px
      margin-left 20px

@media ( max-width 1023px )
  .ontent
    transform translateX(-100%)

@media ( min-width 992px )
  @media ( max-width 1023px )
    article
      margin-left 50px
      margin-right 210px
  @media ( max-width 1919px )
    aside
      padding 0 25px 0 15px

@media ( min-width 1024px )
  .navContent
    padding 1em 1em 1em 0
    transform unset
  .navItem
    padding-left .8em
    .navItemTitle:hover
      margin-left 1em
    a
      text-align right
      .navItemTitle::after
        border-left 4px solid
      &:hover .navItemTitle
        margin-left 1em
  article
    margin-right 240px
    margin-left 156px

@media ( min-width 1440px )
  .navItem
    padding-left 2.25em
  article
    margin-right 270px
    margin-left 240px

@media ( min-width 1920px )
  .navItem
    padding-left 5.25em
  article
    margin-right calc(5% + 320px)
    margin-left 310px
  aside
    right 5%
