@media ( max-width 1023px )
  .hide.navBtn
    transform translateY(-2em)
  :is(.moving, .up) nav
    overflow visible
  .moving
    pointer-events none
    .search-header,
    .search-popup
      transition unset
    .navContent
      overflow visible

  .up article
    margin-top 50px
  .up .closed
    .navBtn
      transform translateY(-.5em)
    .navContent
      overflow visible

@keyframes get-in-right
  0%
    transform translateX(calc(100vw + 100%))
  100%
    transform translateX(100vw)
