// ========= 基础样式
// ====== base style
body
  margin: 0 auto
  color: #c4c4c4
  background-color: #141516
  background-image: url(https://ak.hypergryph.com/assets/index/images/ak/pc/bk.jpg)
  // background-image: url(/img/bg.jpg)
  background-attachment: fixed
  background-position: 50% 40px
  background-repeat: no-repeat
  background-size: cover
  font-family: sans-serif
  display: flex
  flex-direction: column
  align-items: stretch

h1, h2, h3, h4, h5, h6
  color: #fff

a
  color: #22bbff
  padding: 0 3px
  text-decoration: none
  transition: .3s
  &:hover
    color: #000
    background-color: #22bbff
